#########
# Ignore All
#########
/*
/*/

# /vendor/
# /_ss_environment.php
# /dandelion.yml
# /framework/
# /cms/
# /assets/
# /silverstripe-cache/
# /silverstripe.log
# /themes/

#########
# Project Whitelist
#########
!/LICENSE
!/README.md
!/.htaccess
!/favicon.ico
!/composer.json
!/mysite/
!/_ss_environment.sample.php
!/dandelion.sample.yml

#########
# Custom Modules Whitelist
#########
# !/MY_CUSTOM_MODULE

#########
# Custom Themes Whitelist
#########
# !/themes/MY_CUSTOM_THEME/