#########
# Misc
#########
.DS_Store
.buildpath
.project
.settings
.idea
.DS_Store
tools/phing-metadata

#########
# SilverStripe Framework and CMS
#########
vendor
framework
cms
assets/*
silverstripe-cache
silverstripe.log

#########
# SilverStripe Themes
#########
themes/*

#########
# Modules
#########
userforms
googlesitemaps
gridfieldextensions
timednotices
editlock
userswitcher
betterbuttons
foundation-forms
foundation-interchange

#########
# Environment and Deployment
#########
#_ss_environment.php
dandelion.yml
